body {
    text-align: center;
    font: 1em sans-serif;
    font-size: 16px;
    margin: 1rem;
    padding: 0;
}

.Container {
    width: 70%;
    padding: 1em;
    border: 1px black solid;
    margin: 0 auto;
}

.Container p {
    text-align: left;
}

.Cabecera {
    text-align: left;
    background-color: coral;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
    color: whitesmoke;
}

.Cabecera .Descripcion {
    padding: 0 0 0 2rem;
    color: white;
    font-size: 1.2rem;
    font-family: 'Times New Roman', Times, serif;

}
